
/* Your CSS Code here. */
.holder{
	background-color:red;
	height:100vh;
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
	align-items:center;
}
.con{
	background-color:green;
	width:100px;
	height:100px;
	}
